.sendForm {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0 35px;
}

.textarea {
    width: 976px;
    padding: 12px 0 12px 24px;
    overflow-y: hidden;
    resize: none;
    outline: none;
    border: none;
    border-radius: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background-color: #F5F7FB;
}

.button {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #0066CC;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.button:hover {

}

.button:active {

}
